:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   
   
}

body {
    font-family: var(--default-font-family);
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.dimension{
    margin-top: 90px;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 35px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
   
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
    
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
    opacity: 0.7;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow: var(--box-shadow);
    
}
.secondary-link {
   
    border-radius: 4px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    background: none;
    line-height: 27px;
    box-shadow: var(--box-shadow);
   
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow: var(--box-shadow);
}

.project-description {
    padding: 35px 60px;
}
.email-link {
    display: flex;
    justify-content: center;
    color: var(--branding-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}
.image-container {
    height: 200px;
    /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    /* Mantém a imagem responsiva dentro do contêiner */
}

@media (max-width: 700px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }

    .project-description {
        padding: 60px 30px;
       
        text-align: center;
    }

    .btn-branding,
    .btn-branding-outline {
        display: block;
      margin: 10px auto;
        width: auto;
       
    }

    .img-fluid {
        display: block;
       
              
    }
}